academy-app/public/downloads/n8n-erster-ki-agent.json
{
  "name": "Erster KI-Agent: Morgen-Briefing (AI Academy)",
  "nodes": [
    {
      "id": "a1f2b3c4-0001-4a01-9e01-aiacademy0001",
      "name": "Anleitung (zuerst lesen)",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-60, -260],
      "parameters": {
        "width": 620,
        "height": 200,
        "content": "## Dein erster KI-Agent – Setup in 4 Schritten\n1. **News-Quelle:** Im Node 'News-Feed abrufen' die RSS-URL durch einen Feed deiner Branche ersetzen.\n2. **KI-Zugang:** Im Node 'KI: Briefing erstellen' den Header `x-api-key` mit deinem Anthropic API-Key füllen (oder den Node durch einen OpenAI-kompatiblen Call ersetzen).\n3. **Branche:** Im Prompt beide [BRANCHE]-Platzhalter ersetzen, z. B. 'Treuhand Schweiz' oder 'Sanitär/Heizung'.\n4. **E-Mail:** Im Node 'Briefing per Mail senden' SMTP-Credentials hinterlegen und Empfänger anpassen.\n\nDann: einmal manuell ausführen ('Test workflow'), Ergebnis prüfen, erst danach aktivieren."
      }
    },
    {
      "id": "a1f2b3c4-0002-4a02-9e02-aiacademy0002",
      "name": "Werktags 07:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-60, 0],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * 1-5"
            }
          ]
        }
      }
    },
    {
      "id": "a1f2b3c4-0003-4a03-9e03-aiacademy0003",
      "name": "News-Feed abrufen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [180, 0],
      "parameters": {
        "method": "GET",
        "url": "https://www.inside-it.ch/rss",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 15000
        }
      },
      "notes": "RSS-URL durch einen Feed deiner Branche ersetzen. Antwort kommt als Text (XML) im Feld 'data' – das reicht, die KI liest den Feed direkt."
    },
    {
      "id": "a1f2b3c4-0004-4a04-9e04-aiacademy0004",
      "name": "KI: Briefing erstellen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 0],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "DEIN_ANTHROPIC_API_KEY"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-5', max_tokens: 1500, messages: [{ role: 'user', content: 'Du bist mein persönliches Nachrichten-Briefing für die Branche [BRANCHE].\\n\\nHier der heutige News-Feed (Roh-XML, ignoriere die Auszeichnung):\\n\\n' + $json.data.slice(0, 15000) + '\\n\\nDeine Aufgabe: Wähle die 5 für [BRANCHE] relevantesten Meldungen aus. Pro Meldung genau dieses Format:\\n\\n1. **Titel der Meldung**\\nZusammenfassung in genau 2 Sätzen.\\nWarum es dich betrifft: ein Satz, konkret für [BRANCHE].\\n\\nRegeln: Ignoriere Werbung und Doppelmeldungen. Erfinde nichts, was nicht im Feed steht. Sind weniger als 5 relevante Meldungen im Feed, liste nur diese und schreibe am Ende: Heute nur X relevante Meldungen. Sprache: Deutsch, Du-Form. Beginne direkt mit Meldung 1, ohne Einleitungssatz.' }] }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "notes": "Platzhalter-Credential: 'DEIN_ANTHROPIC_API_KEY' ersetzen. Besser: API-Key als n8n-Credential (Header Auth) hinterlegen statt im Klartext. Alternativ auf einen OpenAI-kompatiblen Endpoint zeigen und den Body anpassen."
    },
    {
      "id": "a1f2b3c4-0005-4a05-9e05-aiacademy0005",
      "name": "Briefing per Mail senden",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [660, 0],
      "parameters": {
        "fromEmail": "agent@deine-firma.ch",
        "toEmail": "du@deine-firma.ch",
        "subject": "=Morgen-Briefing [BRANCHE] – {{ $now.format('dd.MM.yyyy') }}",
        "emailFormat": "text",
        "text": "={{ $json.content[0].text }}",
        "options": {}
      },
      "credentials": {
        "smtp": {
          "id": "PLATZHALTER-SMTP-CREDENTIAL",
          "name": "SMTP (hier deine Credentials hinterlegen)"
        }
      },
      "notes": "SMTP-Credentials in n8n anlegen (Settings → Credentials → SMTP) und hier auswählen. Absender und Empfänger anpassen."
    }
  ],
  "connections": {
    "Werktags 07:00": {
      "main": [
        [
          {
            "node": "News-Feed abrufen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "News-Feed abrufen": {
      "main": [
        [
          {
            "node": "KI: Briefing erstellen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KI: Briefing erstellen": {
      "main": [
        [
          {
            "node": "Briefing per Mail senden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Zurich"
  },
  "active": false,
  "pinData": {},
  "tags": [
    {
      "name": "AI Academy"
    }
  ]
}
